.mapContainer {
    width: 100%;
    position: relative;
}

.mapBox {
    margin-top: 20vh;
    padding: 20px;
    /* border: 1px solid white; */
}

#map {
    width: 80%;
    height: 400px;
    margin: auto;
}

.gmoprint>* {
    color: black
}

.gap {
    margin: 30px auto;
    /* border: 1px solid rgb(206, 176, 113); */
}