.menuContainer {
    width: 100%
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 40px auto;
    font-family: logo-sans-serif;
}

.tabMenu {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menuBox {
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
}

.tabMain,
.tabDessert,
.tabCocktails {
    font-weight: bold;
    margin: 10px 20px;
    padding: 2.5px;
    border-bottom: 2px solid rgb(206, 176, 113);
}

.tabMain:hover,
.tabDessert:hover,
.tabCocktails:hover {
    cursor: pointer;
    color: rgb(219, 200, 182);
    border-bottom: 2px solid rgb(219, 200, 182);
}

.mainBox,
.dessertBox,
.cocktailsBox {
    width: 100%;
    margin: 20px auto;

}

.mainTitle,
.dessertTitle,
.cocktailsTitle {
    position: relative;
    display: inline-block;
    font-size: 18px;
    padding-bottom: 2px;
    margin: 30px 10px;
    color: rgb(255, 255, 255);
}

.mainTitle::after,
.dessertTitle::after,
.cocktailsTitle::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    border-bottom: 2px solid white;
    animation: expand 1s forwards;
}

@keyframes expand {
    0% {
        left: 50%;
        right: 50%;
    }
    100% {
        left: 0;
        right: 0;
    }
}

.mainItem,
.dessertItem,
.cocktailsItem {
    margin: 10px;
    margin-bottom: 60px;
    position: relative;
}

.mainName,
.dessertName,
.cocktailsName {
    font-size: 20px;
    font-weight: bold;
    margin:10px auto
}

.mainPrice,
.dessertPrice,
.cocktailsPrice {
    font-size: 14px;
    font-weight: bold;
    color: rgb(219, 200, 182);
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.mainHighlight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211,0.2);
    border-radius: 30px;
}

.dessertHighlight,
.cocktailsHighlight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211,0.2);
    border-radius: 30px;
    margin-top: 20px;
}

.mainImageBox {
    width: 70%;
    height: 60vh;
    background-image: url(../src/templates/image/Main.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0 30px;
}

.dessertImageBox {
    width: 70%;
    height: 60vh;
    background-image: url(../src/templates/image/Dessert.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0 30px;
}

.cocktailsImageBox {
    width: 70%;
    height: 60vh;
    background-image: url(../src/templates/image/Cocktail.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0 30px;
}

.mainImageInfo,
.dessertImageInfo,
.cocktailsImageInfo {
    width: 30%;
    font-weight: bold;
    text-align: center;
}

.highlight {
    font-size: 20px;
    margin: 30px auto;
    color: rgb(255, 255, 255)
}

.mainImageName,
.dessertImageName,
.cocktailsImageName {
    font-size: 16px;
    font-weight: bold;
    margin:30px auto
}

.mainImageContent,
.dessertImageContent,
.cocktailsImageContent {
    font-size: 12px;
    font-weight: bold;
    margin: 30px auto;
    color: rgb(192, 136, 136)
}

.mainImagePrice,
.dessertImagePrice,
.cocktailsImagePrice {
    font-size: 24px;
    margin: 40px auto;
    color: rgb(219, 200, 182);
}

.mainNote {
    font-size: 14px;
    font-weight: bold;
    color: rgb(192, 218, 121);
    position: absolute;
    right: 0;
}

.mainContent,
.dessertContent,
.cocktailsContent {
    font-size: 12px;
    font-weight: bold;
    color: rgb(192, 136, 136)
}

.menuNote {
    font-size: 12px;
    font-weight: bold;
    width: 80%;
    margin: auto;
    line-height: 24px;
    color: rgb(207, 168, 130);
}