/* 數字 */
@font-face {
    font-family: custom-sans-serif;
    src: url(../../assets/fonts/HelveticaNeueBold.ttf);
    unicode-range: U+0030-0039;
}

/* 中文 */
@font-face {
    font-family: custom-sans-serif;
    src: url(../../assets/fonts/ChiuKongGothic.ttf);
    unicode-range: U+4E00-9FFF;
}

/* 英文 */
@font-face {
    font-family: custom-sans-serif;
    src: url(../../assets/fonts/Avenir.ttf);
    unicode-range: U+00-024F;
}

@font-face {
    font-family: title-sans-serif;
    src: url(../../assets/fonts/Roboto.ttf)
}

@font-face {
    font-family: banner-sans-serif;
    src: url(../templates/fonts/Didot.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: custom-sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    box-sizing: border-box;
    color: rgb(206, 176, 113);
}

body {
    background-color: rgb(0, 0, 0);
}

main {
    position: relative;
}

.home {
    background-image: url('../../assets/background/main.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.location {
    background-image: url('../../assets/background/location.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}