.mapContainer {
    width: 100%;
    position: relative;
}

.storeInfo {
    margin-top: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.storeBox {
    width: 100%;
    margin-right: 10px;
}

.storeItem {
    font-size: 16px;
    margin: 10px 0px;
    padding: 10px;
    font-weight: bold;
}

.storeItem>i {
    margin-right: 10px;
}

.dayBox {
    margin-top: 30px;
}

.day {
    font-size: 14px;
    font-weight: bold;
    margin:10px 0px;
}

.mapBox {
    margin-left: auto;
}
#map {
    width: 600px;
    height: 400px;
}

.bi-shop,
.bi-pin-map-fill,
.bi-telephone-fill,
.bi-clock-fill {
    font-size: 20px;
}