.mapContainer {
    width: 100%;
    position: relative;
}

.storeInfo {
    margin-top: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.storeBox {
    width: 100%;
    margin-right: 10px;
}

.siteItem {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10px;
    color:rgb(211, 211, 211);
}

.storeItem {
    font-size: 16px;
    margin: 40px 0px;
    padding: 10px;
    font-weight: bold;
}

.storeItem>i {
    margin-right: 10px;
}

.dayBox {
    margin-top: 35px;
}

.day {
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    position: relative;
}

.time {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 30px;
    color: rgb(211, 211, 211);
    position: absolute;
    left: 100px;
}

.mapBox {
    margin-left: auto;
}

#map {
    width: 500px;
    height: 500px;
}

.bi-shop,
.bi-pin-map-fill,
.bi-telephone-fill,
.bi-clock-fill {
    font-size: 20px;
}