.main {
    position: relative;
}

.homeContainer {
    width: 100%;
    position: relative;
}

/* about的介紹*/
.aboutCard {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.aboutCardBox {
    display: flex;
}

.aboutImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.aboutImage>img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.aboutInfo {
    flex: 1;
    background-color: rgb(254, 248, 241);
    padding: 0px 30px;
}

.aboutTitle {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-family: title-sans-serif;
    color: rgb(214, 150, 53);
}

.aboutTitleBox>p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    font-family: custom-sans-serif;
    margin: 20px auto;
    color: rgb(0, 0, 0);
}

.aboutTitle:first-child {
    margin-top: 30px;
}

.aboutText {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0px;
    color: rgb(60, 50, 50);
}

.aboutCardButton {
    margin: 30px auto;
}

.aboutCardButton>a {
    font-weight: bold;
    color: rgb(214, 150, 53);
}

.aboutCardButton>a::after {
    content: '\2192';
    margin-left: 10px;
    font-size: 20px;
}

/* menu的介紹 */
.menuCard {
    height: auto;
    display: flex;
    align-items: center;
}

.menuInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menuContent {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.menuTitleBox1 {
    width: 50%;
    text-align: end;
    padding-right: 100px;
}

.menuTitle {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-family: title-sans-serif;
    color: rgb(214, 150, 53);
    margin-top: 60px;
}

.menuTitle2 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-family: title-sans-serif;
    color: rgb(214, 150, 53);
    margin: 50px auto 20px;
}

.menuTitleBox1>p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    font-family: custom-sans-serif;
    margin: 20px auto;
    color: rgb(255, 255, 255);
}

.menuTextBox:nth-child(odd) {
    width: 50%;
    padding: 15px 30px;
}

.menuTextBox2 {
    width: 50%;
    padding: 15px 30px;
    padding-right: 100px;
}

.menuText {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0px;
    color: rgb(222, 203, 203);
}

.menuImageBox:nth-child(odd) {
    width: 50%;
    text-align: end;
    padding-right: 100px;
}

.menuImageBox:nth-child(even) {
    width: 50%;
    text-align: start;
}

.menuImageBox>img {
    height: 100%;
}

.menuContent:last-child {
    margin-bottom: 20vh;
}

/* location的介紹 */
.locationCard {
    height: 60vh;
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.locationCard::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-image: url('../../../assets/image/Book A Table.jpg');
    background-position: 0%;
    background-size: cover;
    opacity: 0.5
}

.locationTitleBox {
    z-index: 1;
    text-align: center;
}

.locationTitle:nth-child(1) {
    font-family: title-sans-serif;
    color:rgb(255, 255, 255);
}

.locationTitle:nth-child(2) {
    color:rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto 20px;
}

.locationCardButton {
    margin: 40px auto;
}

.locationCardButton>a {
    font-weight: bold;
    padding: 10px 25px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255)
}

.locationCardButton>a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .aboutText {
        font-size: 8px;
    }

    .menuTextBox {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .aboutCard {
        height: 30vh;
    }

    .aboutInfo {
        display: none;
    }

    .menuTitleBox1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    
    .menuTextBox {
        width: 100%;
    }

    .menuText {
        font-size: 8px;
    }

    .menuContent {
        flex-wrap: wrap;
        text-align: center;
    }

    .menuImageBox:nth-child(odd) {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .menuTextBox2 {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .menuImageBox:nth-child(even) {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

    .menuContent:nth-child(even) {
        flex-direction: column-reverse;
    }

    .menuTextBox {
        margin-top: 20px;
    }
}